<app-navbar></app-navbar>

<!--
  -----------------------------
  SECCION HEADER
  -----------------------------
-->
<div id="section-header">
  <div class="container-main-header">
    <p class="p-small-primary-color">Obten un mejor control sobre el registro de boletos</p>
    <h1 class="h1-description-header">
      Primer sistema <br>
      administrable <br>
      para la creación de <br>
      <span>rifas</span> y <span>sorteos</span>
    </h1>
    <p class="p-small-gray-color">
      Creamos una experiencia para la creación y administración de tus rifas y sorteos
    </p>
    <div class="container-button">
      <button class="btn-color-primary-normal">Ver planes</button>
    </div>
  </div>
</div>



<!--
  -----------------------------
  SECCION PASOS
  -----------------------------
-->

<div id="section-steps">

  <div class="header-section-top">
    <div>
      <h1 class="section-block-title">Crea rifas y sorteos con nosotros</h1>
      <p class="p-small-gray-color">Empezar es muy fácil</p>
    </div>
  </div>

  <!-- timeline start -->

  <div class="ag-timeline-block">
    <section>
      <div class="ag-format-container">
        <div class="js-timeline ag-timeline">
          <div class="js-timeline_line ag-timeline_line">
            <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
          </div>
          <div class="ag-timeline_list">
            <div class="js-timeline_item ag-timeline_item">
              <div class="ag-timeline-card_box">
                <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                  <div class="ag-timeline-card_point">1</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Seleccionar el plan</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img src="/../assets/images/image-plans.png" class="ag-timeline-card_img" width="640"
                      height="200" />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Seleccionar el plan</div>
                    <div class="ag-timeline-card_desc">
                      Selecciona el plan que mas se pegue a tus necesidades
                      <br>
                      <button style="margin-top: 10px;" class="btn-color-primary-outline">Seleccionar plan</button>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow"></div>
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item">
              <div class="ag-timeline-card_box">
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Rentar dominio y hosting</div>
                </div>
                <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                  <div class="ag-timeline-card_point">2</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img src="/../assets/images/image-domain.png" class="ag-timeline-card_img" width="640" height="200"
                      alt="" />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Rentar dominio y hosting</div>
                    <div class="ag-timeline-card_desc">
                      Dominio (Tu nombre en la web) <br>
                      Hosting (El servidor donde se aloja tu sitio web)
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow"></div>
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item">
              <div class="ag-timeline-card_box">
                <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                  <div class="ag-timeline-card_point">3</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Diseñar tu página</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img src="/../assets/images/image-design.png" class="ag-timeline-card_img" width="640" height="200"
                      alt="" />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Diseñamos tu página</div>
                    <div class="ag-timeline-card_desc">
                      Diseñamos tu página con el nombre de tu empresa, logos, colores, tipografias y fotos
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow"></div>
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item">
              <div class="ag-timeline-card_box">
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Lanzar tu página</div>
                </div>
                <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                  <div class="ag-timeline-card_point">4</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img src="/../assets/images/image-lotterydraw.png" class="ag-timeline-card_img" width="640"
                      height="200" alt="" />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Lanzar tu página</div>
                    <div class="ag-timeline-card_desc">
                      Subimos tu página a la web para que este lista y la puedas utilizar
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow"></div>
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item">
              <div class="ag-timeline-card_box">
                <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                  <div class="ag-timeline-card_point">5</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Soporte</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img src="/../assets/images/image-support.png" class="ag-timeline-card_img" width="640" height="200"
                      alt="" />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Soporte</div>
                    <div class="ag-timeline-card_desc">
                      Te acompañamos con el soporte para que tu mismo crees y administres tus sorteos, de acuerdo al
                      plan
                      contratado, será el límite de sorteos que puedas crear al mes
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow"></div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- timeline end -->

</div>


<!--
  -----------------------------
  SECCION BENEFICIOS
  -----------------------------
-->

<div id="section-benefits">

  <div class="header-section-top">
    <div>
      <h1 class="section-block-title">Beneficios</h1>
      <p class="p-small-gray-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Eligendi culpa
        tempora sit iusto dolorum. Saepe hic vel qui ut laudantium.</p>
    </div>
  </div>


  <div class="scroll-benefit">
    <!-- column 1 -->
    <div class="column-image">
      <div class="content-column">
        <img class="image-benefit-column" src="/../assets/images/image-create-lotterydraw.png" alt="">
      </div>
    </div>

    <!-- column 2 -->
    <div class="container-info-benefits">

      <div class="content-info-benefits">
        <div style="width: 60%;">
          <h1 class="section-block-title">Creación de <span>sorteos</span> <br> y <span>pre sorteos</span></h1>
          <p style="margin-top: 20px;" class="p-small-gray-color">
            Al adquirir un plan, usted mismo puede crear, editar y administrar sus sorteos y presorteos, el límite de
            creación de sorteos
            dependerá del plan seleccionado
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur aspernatur neque laudantium
            excepturi error hic odio recusandae tempora cumque!
          </p>
        </div>
      </div>


      <div class="content-info-benefits">
        <div style="width: 60%;">
          <h1 class="section-block-title">Creación de <span>sorteos</span> <br> y <span>pre sorteos</span></h1>
          <p style="margin-top: 20px;" class="p-small-gray-color">
            Al adquirir un plan, usted mismo puede crear, editar y administrar sus sorteos y presorteos, el límite de
            creación de sorteos
            dependerá del plan seleccionado
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur aspernatur neque laudantium
            excepturi error hic odio recusandae tempora cumque!
          </p>
        </div>
      </div>


      <div class="content-info-benefits">
        <div style="width: 60%;">
          <h1 class="section-block-title">Creación de <span>sorteos</span> <br> y <span>pre sorteos</span></h1>
          <p style="margin-top: 20px;" class="p-small-gray-color">
            Al adquirir un plan, usted mismo puede crear, editar y administrar sus sorteos y presorteos, el límite de
            creación de sorteos
            dependerá del plan seleccionado
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur aspernatur neque laudantium
            excepturi error hic odio recusandae tempora cumque!
          </p>
        </div>
      </div>


      <div class="content-info-benefits">
        <div style="width: 60%;">
          <h1 class="section-block-title">Creación de <span>sorteos</span> <br> y <span>pre sorteos</span></h1>
          <p style="margin-top: 20px;" class="p-small-gray-color">
            Al adquirir un plan, usted mismo puede crear, editar y administrar sus sorteos y presorteos, el límite de
            creación de sorteos
            dependerá del plan seleccionado
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur aspernatur neque laudantium
            excepturi error hic odio recusandae tempora cumque!
          </p>
        </div>
      </div>

    </div>


  </div>


  <div class="scroll-benefit">


    <!-- column 2 -->
    <div class="container-info-benefits">

      <div class="content-info-benefits">
        <div style="width: 60%;">
          <h1 class="section-block-title">Creación de <span>sorteos</span> <br> y <span>pre sorteos</span></h1>
          <p style="margin-top: 20px;" class="p-small-gray-color">
            Al adquirir un plan, usted mismo puede crear, editar y administrar sus sorteos y presorteos, el límite de
            creación de sorteos
            dependerá del plan seleccionado
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur aspernatur neque laudantium
            excepturi error hic odio recusandae tempora cumque!
          </p>
        </div>
      </div>


      <div class="content-info-benefits">
        <div style="width: 60%;">
          <h1 class="section-block-title">Creación de <span>sorteos</span> <br> y <span>pre sorteos</span></h1>
          <p style="margin-top: 20px;" class="p-small-gray-color">
            Al adquirir un plan, usted mismo puede crear, editar y administrar sus sorteos y presorteos, el límite de
            creación de sorteos
            dependerá del plan seleccionado
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur aspernatur neque laudantium
            excepturi error hic odio recusandae tempora cumque!
          </p>
        </div>
      </div>



      <div class="content-info-benefits">
        <div style="width: 60%;">
          <h1 class="section-block-title">Creación de <span>sorteos</span> <br> y <span>pre sorteos</span></h1>
          <p style="margin-top: 20px;" class="p-small-gray-color">
            Al adquirir un plan, usted mismo puede crear, editar y administrar sus sorteos y presorteos, el límite de
            creación de sorteos
            dependerá del plan seleccionado
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur aspernatur neque laudantium
            excepturi error hic odio recusandae tempora cumque!
          </p>
        </div>
      </div>
    </div>



    <!-- column 1 -->
    <div class="column-image">
      <div class="content-column">
        <img class="image-benefit-column" src="/../assets/images/image-home-lotterydraw.png" alt="">
      </div>
    </div>
  </div>

</div>



<!--
  -----------------------------
  SECCION PLANES
  -----------------------------
-->

<div id="section-plans">

  <div class="header-section-top">
    <div>
      <h1 class="section-block-title">Planes Sorteos<span>Hoy</span></h1>
      <p class="p-small-gray-color">Nuestros planes se ajustan a las necesidades de cada cliente</p>
    </div>
  </div>


  <div class="group-cards-plans">
    <div class="card-plan">
      <div class="header-title-plan">
        Gratis
      </div>
      <div class="header-price-plan">
        <p class="price-plan">$0<span class="duration-plan">/mes</span></p>
      </div>
      <div class="body-content-plan">
        <ul>
          <li>
            ✅Cifras de rifas

          </li>
          <li>✅Reportes</li>
          <li>✅Integración con WhatsApp</li>
          <li>✅Abonos</li>
        </ul>
      </div>
    </div>
    <div class="card-plan">
      <div class="header-title-plan">
        Gratis
      </div>
      <div class="header-price-plan">
        <p class="price-plan">$0<span class="duration-plan">/mes</span></p>
      </div>
    </div>

    <div class="card-plan">
    </div>

    <div class="card-plan">
    </div>

  </div>


</div>
